.reviews-list {
  padding-left: 24px;
  padding-bottom: 48px;
}

.reviews-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 28px;
}

.no-reviews-err {
  text-align: center;
  padding-bottom: 48px;
  font-size: 22px;
  color: #611f1f;
}
