.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  padding: 28px 0;
  border-bottom: 2px solid #611f1f;
}

.link {
  color: #611f1f;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

  transition: all 200ms ease-in-out;
}

.link:hover {
  color: #a11a1a;
}

.active {
  text-decoration: underline;
  color: #a11a1a;
  text-decoration-color: #a11a1a;
  text-decoration-thickness: 2px;
}

.fallback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
